/* RESETS AND GLOBAL CONFIGURATIONS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fef0e5;
  font-family: 'Apercu', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.1;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2.125rem;
}
h4 {
  font-size: 1.625rem;
}
h5 {
  font-size: 1.375rem;
}
h6 {
  font-size: 1.25rem;
}
small {
  font-size: 0.875rem;
  font-weight: 400;
}

p {
  text-align: left;
  font-weight: 900;
  line-height: 1.5;
}

/* TOP HEADER CONFIGURATION */

header {
  position: fixed;
  background-color: wheat;
  border-bottom: 1px solid black;
  width: 100%;
}

.container.top {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: auto;
  padding: 12px 96px;
  gap: 20px;
}

nav {
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  align-items: center;
  min-height: 40px;
  gap: 20px;
  padding: 5px 0px 5px 0px;
}

.top-right {
  display: flex;
}

.btn-src,
.btn-bars {
  width: 40px;
  min-height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}

.btn-src:hover {
  display: inline-block;
  background-color: #f1e3db;
  border-radius: 5px;
}

.login {
  width: 85px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #370fdb;
  font-weight: bold;
}

.login:hover {
  width: 85px;
  height: 40px;
  background-color: #f1e3db;
  border-radius: 5px;
}

.dropbtn:hover {
  color: #5131f3;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
}

.dropdown-content a {
  padding: 16px 16px;
  display: block;
}

.show {
  display: block;
}

p.small a {
  color: #5131f3;
}

a:hover {
  color: #370fdb;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
}

.svg {
  width: 13px;
  height: 13px;
  margin: 0;
  vertical-align: bottom;
}

.sec1 {
  display: flex;
  padding: 32px 64px;
  margin-top: 80px;
  width: 100%;
}
.sec1-1 img {
  max-width: 35vw;
  border: 1px solid black;
  margin-left: 15px;
  margin-bottom: 10px;
}

.imgback {
  max-width: 34vw;
  background-image: url(/img/diagonaldense.svg);
}
.sec1-1 {
  flex: 1;
  text-align: center;
  align-self: center;
}
.sec1-2 {
  flex: 1;
  padding-left: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

#signup {
  width: 88px;
  height: 40px;
  border-radius: 5px;
  background-color: #370fdb;
  color: white;
  border: unset;
}

#explorebtn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #fed300;
  color: #101630;
  padding: 10px;
}

#signup:hover {
  background-color: #5131f3;
  cursor: pointer;
}

#email,
#pass {
  width: 400px;
  height: 50px;
}

.smallbox {
  padding: 30px 0px;
}
.small {
  width: 400px;
}

.small a {
  text-decoration: underline;
}
.small a:hover {
  text-decoration: none;
}
.firmsbox {
  display: flex;
  width: 400px;
  gap: 10px;
}
.firms {
  justify-content: center;
  flex: 0 0 67px;
  padding: 20px;
  width: 67px;
  background-color: white;
  border: 1px solid black;
}

.infobox {
  display: flex;
  justify-content: space-between;
}

#popup {
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  position: fixed;
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  line-height: 2em;
}

.sec2 {
  display: flex;
  background-color: #3a0fe5;
  color: white;
  padding: 96px 96px;
  gap: 50px;
  width: 100%;
}
.sec2 > div {
  flex: 0;
  text-align: center;
}
.sec2 > div:first-child {
  flex: 3;
  text-align: left;
  margin-left: 96px;
}
.sec2 > div > h2 {
  margin-bottom: 0px;
  text-align: bottom;
}

.sec3 {
  display: flex;
  background-color: #101630;
  color: white;
  padding: 96px 96px;
  align-items: center;
  width: 100%;
}

.sec3-1 {
  flex-direction: column;
  flex: 1;
  width: 50%;
}
.sec3-2 {
  flex: 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  vertical-align: middle;
  gap: 50px;
  flex: 1;
  width: 50%;
}

.sec3-2 > div > img {
  width: 6rem;
  height: 100%;
}
.sec3-2-1 {
  display: flex;
  gap: 10px;
}

.sec3-2-2 {
  display: flex;
  gap: 10px;
}

p.monotitle {
  font-family: 'Suisse', monospace;
}

footer {
  display: flex;
  padding: 14px 64px;
  line-height: 2em;
  width: 100%;
}

.footsec1 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.footsec1 > ul {
  width: 33.3%;
}

.footsec2 > ul {
  width: 50%;
}

.footsec2 > ul:nth-child(2) {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  justify-content: center;
}

.footsec2 {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  border-left: black 1px solid;
  padding-left: 4rem;
  justify-content: baseline;
}

.privacy {
  display: flex;
  padding: 14px 64px;
  border-top: 1px solid black;
  line-height: 20px;
  vertical-align: middle;
}
.privacy li {
  padding: 5px;
  font-size: 14px;
}
.lastwords {
  margin-left: auto;
}

/* XL Styles */
@media only screen and (min-width: 1200px) {
  .container.top {
    padding: 12px 96px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .btn-bars {
    display: none;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .container.top {
    padding: 12px 64px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .btn-bars {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    margin: 0;
  }

  .navbar {
    flex-direction: column;
    display: none;
    margin: 0;
  }

  .btn-src {
    display: none;
  }

  .container.top {
    padding: 12px 64px;
  }
}

/* Mini Tablet  Styles */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav {
    margin: 0;
  }

  .navbar {
    flex-direction: column;
    display: none;
    margin: 0;
  }

  .btn-src {
    display: none;
  }

  .container.top {
    padding: 12px 32px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 479px) {
  nav {
    margin: 0;
  }
  .navbar {
    flex-direction: column;
    display: none;
    margin: 0;
  }
  .btn-src {
    display: none;
  }
  .container.top {
    padding: 12px 0px;
  }
}
