/* 
1- Download the images
2- Find and link the fonts  
*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Apercu', sans-serif;
  background-color: #fef0e5;
}

@font-face {
  font-display: swap;
  font-family: 'Apercu';
  font-style: normal;
  font-weight: normal;
  src: url('https://static-assets.codecademy.com/gamut/apercu-regular-pro.woff')
      format('woff'),
    url('https://static-assets.codecademy.com/gamut/apercu-regular-pro.woff2')
      format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Apercu';
  font-style: italic;
  font-weight: normal;
  src: url('https://static-assets.codecademy.com/gamut/apercu-italic-pro.woff')
      format('woff'),
    url('https://static-assets.codecademy.com/gamut/apercu-italic-pro.woff2')
      format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Apercu';
  font-style: normal;
  font-weight: bold;
  src: url('https://static-assets.codecademy.com/gamut/apercu-bold-pro.woff')
      format('woff'),
    url('https://static-assets.codecademy.com/gamut/apercu-bold-pro.woff2')
      format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Apercu';
  font-style: italic;
  font-weight: bold;
  src: url('https://static-assets.codecademy.com/gamut/apercu-bold-italic-pro.woff')
      format('woff'),
    url('https://static-assets.codecademy.com/gamut/apercu-bold-italic-pro.woff2')
      format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse';
  font-style: normal;
  font-weight: bold;
  src: url('https://static-assets.codecademy.com/gamut/SuisseIntlMono-Bold-WebS.woff')
      format('woff'),
    url('https://static-assets.codecademy.com/gamut/SuisseIntlMono-Bold-WebS.woff2')
      format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse';
  font-style: normal;
  font-weight: normal;
  src: url('https://static-assets.codecademy.com/gamut/SuisseIntlMono-Regular-WebS.woff')
      format('woff'),
    url('https://static-assets.codecademy.com/gamut/SuisseIntlMono-Regular-WebS.woff2')
      format('woff2');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.1;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2.125rem;
}
h4 {
  font-size: 1.625rem;
}
h5 {
  font-size: 1.375rem;
}
h6 {
  font-size: 1.25rem;
}
small {
  font-size: 0.875rem;
  font-weight: 400;
}

header {
  padding: 14px 64px;
}

nav ul {
  justify-content: space-between;
  min-height: 40px;
  margin-right: auto;
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 5px 0px 5px 0px;
  flex: 1;
}

.searchimg {
  width: 20px;
  height: 20px;
}
.svg {
  width: 12px;
  height: 12px;
  padding-top: 2px;
}

.searchicon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  flex: 5;
}

.searchiconbox {
  display: inline-block;
  width: 40px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.searchiconbox:hover {
  display: inline-block;
  width: 40px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
  background-color: #f1e3db;
  border-radius: 5px;
  text-align: center;
}

.login {
  width: 85px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #370fdb;
  font-weight: bold;
}

.login:hover {
  width: 85px;
  height: 40px;
  background-color: #f1e3db;
  border-radius: 5px;
}

.dropbtn:hover {
  color: #5131f3;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
}

.dropdown-content a {
  padding: 16px 16px;
  display: block;
}

.show {
  display: block;
}

nav a:visited {
  color: inherit;
}
nav a:hover {
  color: #5131f3;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
