/* RESETS AND GLOBAL CONFIGURATIONS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .preview-content {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)
    repeat;
  min-height: 17rem;
  text-align: center;
  vertical-align: middle;
} */

body {
  background-color: #fef0e5;
  font-family: 'Apercu', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a:hover {
  color: #370fdb;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.1;
}
h1 {
  font-size: 1.625rem;
  margin: 0;
  line-height: 1.5;
  padding-bottom: 1rem;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2.125rem;
}
h4 {
  font-size: 1.625rem;
}
h5 {
  font-size: 1.375rem;
}
h6 {
  font-size: 1.25rem;
}
.small {
  font-size: 0.875rem;
  font-weight: 400;
}

p {
  text-align: left;
  font-weight: 900;
  line-height: 1.5;
}

/*GLOBAL CONTAINER CONFIGURATION */

.container {
  max-width: 1440px;
  padding-left: 6rem;
  padding-right: 6rem;
  align-items: center;
  margin: auto;
  height: auto;
}

/* TOP HEADER CONFIGURATION */

header {
  position: fixed;
  background-color: #fef0e5;
  border-bottom: 1px solid black;
  width: 100%;
}

.container.top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px;
}

nav {
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  align-items: center;
  min-height: 41px;
  gap: 20px;
  /* padding: 5px 0px 5px 0px; */
}

.top-right {
  display: flex;
}

.svg {
  width: 13px;
  height: 13px;
  vertical-align: bottom;
}

.btn-src,
.btn-bars {
  width: 41px;
  min-height: 41px;
  text-align: center;
  line-height: 41px;
  vertical-align: middle;
}

.btn-src:hover {
  display: inline-block;
  background-color: #f1e3db;
  border-radius: 5px;
}

.login {
  width: 85px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  color: #370fdb;
  font-weight: bold;
}

.login:hover {
  width: 85px;
  height: 41px;
  background-color: #f1e3db;
  border-radius: 5px;
}

.dropbtn:hover {
  color: #5131f3;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
}

.dropdown-content a {
  padding: 16px 16px;
  display: block;
}

/* MAIN & CONTENT CONFIGURATION */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* SECTOR 1  STARTS */

.wrapper1 {
  width: 100%;
  margin-top: 80px;
}

.topic1 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sec1-1 {
  flex: 1 1 50%;
  text-align: center;
  align-self: center;
}
.sec1-2 {
  flex: 1 1 50%;
  text-align: left;
  align-self: center;
}
.hero {
  padding-bottom: 1rem;
}
.hero img {
  border: 1px solid black;
  box-shadow: -12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: auto;
  height: 25rem;
  border-radius: 2px;
  vertical-align: middle;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#signup {
  width: 88px;
  height: 40px;
  border-radius: 5px;
  background-color: #370fdb;
  color: white;
  border: unset;
}

#explorebtn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #fed300;
  color: #101630;
  padding: 10px;
}

#signup:hover {
  background-color: #5131f3;
  cursor: pointer;
}

#email,
#pass {
  height: 50px;
  border: 1px black solid;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  width: 100%;
  min-width: auto;
  border-radius: 2px;
  text-indent: 0;
  font-family: inherit;
  overflow: visible;
}

.show {
  display: block;
}

p.small a {
  color: #5131f3;
}

.smallbox {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.firmsbox h2 {
  font-size: 1rem;
  display: block;
  flex: 1 1 100%;
}

.small a {
  text-decoration: underline;
}
.small a:hover {
  text-decoration: none;
}
.firmsbox {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 10px;
}
.firms {
  justify-content: center;
  flex: 0 0 67px;
  padding: 20px;
  width: 67px;
  height: 55px;
  background-color: white;
  border: 1px solid black;
}

.infobox {
  display: flex;
  justify-content: space-between;
}

#popup {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  position: fixed;
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  line-height: 2em;
}

/* SECTION 2 STARTS */

.sec2 > div {
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
}
.sec2 > div:first-child {
  flex: 1;
  text-align: left;
}
.sec2 > div > h2 {
  margin-bottom: 0px;
  text-align: bottom;
}

p.monotitle {
  font-family: 'Suisse', monospace;
}

.wrapper2 {
  background-color: #3a0fe5;
  width: 100%;
}

.topic2 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  /* gap: 50px; */
  background-color: grey;
  padding-top: 6rem;
  padding-bottom: 6rem;
  justify-content: space-around;
}

.join-in {
  flex: 1 1 50%;
}
.statistics {
  display: flex;
  flex: 1 1 50%;
  gap: 40px;
  justify-content: space-between;
}
.join-in h2 {
  margin: 0;
  padding-left: 4rem;
}
.statistics h2 {
  font-size: 34px;
  margin: 0;
}
.statistics h5 {
  font-size: 1rem;
  margin: 0;
}

/* display: flex;
  gap: 10px; */

/* .topic2:first-child {
  padding-left: 6rem;
  flex-wrap: wrap;
} */

/* SECTOR 3 STARTS */

.wrapper3 {
  width: 100%;
  background-color: #101630;
}

.topic3 {
  display: flex;
  background-color: green;
  color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.sec3-1 {
  width: 50%;
  flex-direction: column;
}
.sec3-2 {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  vertical-align: middle;
  gap: 50px;
}

.sec3-2 > div > img {
  width: 20%;
}
.sec3-2-1 {
  display: flex;
  gap: 10px;
}

.sec3-2-2 {
  display: flex;
  gap: 10px;
}

/* Footer configuration */

footer {
  width: 100%;
}

.topic4 {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}

.footsec1 {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.footsec1 > ul {
  width: 33.3%;
}

.footsec2 {
  display: flex;
  flex: 1 1 50%;
  border-left: black 1px solid;
  padding: 2rem 4rem;
  justify-content: space-between;
}

.footright1,
.footright2 {
  flex: 1 1 50%;
}
footer h2,
h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.footsec3 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px black solid;
}

.privacy,
.lastwords {
  display: flex;
  line-height: 1.5;
  font-size: 0.875rem;
}
.privacy li {
  padding: 0 0.5rem 0 0;
}

/* MEDIA QUERIES START */

/* XL Styles */
@media only screen and (min-width: 1025px) {
  .container {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .btn-bars {
    display: none;
  }

  .herocropped {
    display: block;
  }
  .herofull {
    display: none;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .btn-bars {
    display: none;
  }

  .hero img {
    height: 20rem;
  }
  .herocropped {
    display: block;
  }
  .herofull {
    display: none;
  }
}

.form-container {
  max-width: 400px;
  margin: auto;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  nav {
    margin: 0;
  }

  .navbar,
  .btn-src {
    display: none;
  }

  .btn-src {
    display: none;
  }

  .form-container {
    max-width: 400px;
    margin: auto;
  }

  .hero img {
    height: 14rem;
  }

  .herocropped {
    display: block;
  }
  .herofull {
    display: none;
  }

  .footsec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .privacy {
    flex-wrap: wrap;
    justify-content: center;
  }
  .topic4 {
    display: flex;
    flex-direction: column;
  }

  .footsec2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: max-content;
    border: none;
  }

  ul.languages,
  ul.catalogue {
    flex: 1 1 50%;
    padding: 0;
    columns: 2;
  }
}

/* Mini Tablet  Styles */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav {
    margin: 0;
  }

  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .navbar,
  .btn-src {
    display: none;
  }

  .topic1 {
    flex-flow: column;
  }

  .hero img {
    height: 12rem;
  }

  .herocropped {
    display: none;
  }
  .herofull {
    display: block;
  }

  .form-container {
    width: 50%;
    margin: auto;
  }

  .topic4 {
    display: flex;
    flex-direction: column;
  }

  .footsec2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: max-content;
    border: none;
  }
  .footsec1 ul,
  .footsec2 ul {
    flex: 1 1 50%;
    padding: 0;
  }

  ul.catalogue,
  .languages {
    padding: 0;
  }

  .footsec1 ul:nth-of-type(4) {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .mobile {
    order: 4;
    columns: 2;
    justify-content: space-between;
  }
  .mobile h2 {
    width: 100%;
  }
  .mobile li {
    width: 50%;
  }

  .footsec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .privacy {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 479px) {
  nav {
    margin: 0;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar,
  .btn-src {
    display: none;
  }

  .hero img {
    height: 12rem;
  }
  .herocropped {
    display: none;
  }
  .herofull {
    display: block;
  }

  .topic1 {
    flex-flow: column;
    gap: 40px;
    padding-top: 1rem;
  }

  .form-container {
    width: 90%;
    margin: auto;
  }

  .topic4 {
    display: flex;
    flex-direction: column;
  }

  .footsec2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    height: max-content;
    border: none;
  }
  .footsec1 ul,
  .footsec2 ul {
    flex: 1 1 50%;
    padding: 0 1rem;
  }

  ul.catalogue {
    padding: 0rem;
  }
  .languages {
    padding: 0 0 2rem 0;
  }

  .footsec1 ul:nth-of-type(4) {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .mobile {
    order: 4;
    columns: 2;
    justify-content: space-between;
  }
  .mobile h2 {
    width: 100%;
  }
  .mobile li {
    width: 50%;
  }

  .footsec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .privacy {
    flex-wrap: wrap;
    justify-content: center;
  }
}
